@import '../../../styles/variables';

.practiceProgressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: $spacer / 4;
  background: linear-gradient(to right, $purple-6, $blue-5, $green-6);
  opacity: 0;
  justify-content: flex-end;

  /* stylelint-disable-next-line selector-no-qualifying-type */
  html[dir='rtl'] & {
    background: linear-gradient(to left, $purple-6, $blue-5, $green-6);
  }

  &--open {
    opacity: 1;
  }

  &__bar {
    height: $spacer / 4;
    background-color: $white;
    transition: width 0.5s ease, opacity 0.5s ease;
  }
}
