@import '../styles/variables';

.statistics {
  &__lessonStat {
    display: flex;
    flex-direction: column;
  }
}

.lessonStat {
  display: flex;
  border: 1px solid $gray-3;
  border-radius: 4px;
  margin-block-end: $spacer * 2;
  flex: 1;

  &__char {
    position: relative;
    display: flex;
    margin: $spacer;
    text-align: center;
    background: $gray-3;
    border: 1px solid $gray-3;
  }

  &__glyph {
    display: flex;
    width: 100px;
    padding: 20px 0;
    font-size: 60px;
    line-height: 1; /* stylelint-disable-line property-disallowed-list */
    white-space: pre;
    background: $gray-3;
    justify-content: center;
    flex: 0 0 auto;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    display: flex;
    width: 100%;
    height: 40px;
    padding: $spacer $spacer * 2;
    align-items: center;
  }

  &__all,
  &__correct,
  &__misspell,
  &__misread {
    display: flex;
    width: 50%;
    height: 30px;
    padding: $spacer $spacer * 2;
    white-space: nowrap;
    align-items: center;
  }
}

.stateProps {
  display: none;

  &--isOpen {
    display: block;
  }

  .true,
  .false {
    padding: 4px;
    font-family: monospace;
    font-size: small;
    color: $white;
    background: $color-error;
    border-radius: 4px;
  }

  .true {
    background: $color-correct;
  }
}
