$fontSize: 28px;
$rowHeight: 44px; // keep it sync with ROW_HEIGHT
$numberOfRows: 3; // keep it sync with FOCUSED_ROW_INDEX
$wrapperPadding: 8px;
$practiceTextHeight: $rowHeight * $numberOfRows + $wrapperPadding * 2;

@import '../../styles/variables';

// TODO - double-check, moved
.TypewriterBoard {
  position: relative;
  color: $white;
  background: $gray-4;

  &__title {
    color: $text-color-primary;
    margin-block-end: $spacer;
  }

  &__desk {
    direction: ltr; // right hand should be on right, left on the left side regardless of language
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__hand {
    display: flex;
    max-width: 250px;
    max-height: calc(100vh - 160px);
    padding: 25px;
    flex-direction: column;
    flex: 1 1 250px;

    .finger {
      fill: $white;
    }
  }

  &__keyboard {
    max-width: 1024px;
    min-height: 200px;
    max-height: calc(100vh - 160px);
    direction: inherit;
    flex: 1 1 auto;
  }
}
// TODO - double-check, moved

.PracticeText {
  display: flex;
  margin: 0 auto;
  color: $gray-5;
  flex-direction: column;
  user-select: none;
  background: $white;
  border-radius: $border-radius-small;
  outline: none;

  &__exploreHelper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    color: $gray-8;
    background: $gray-4;
    align-items: center;
    justify-content: center;
  }

  &__userInput {
    position: absolute;
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100%;
    min-height: 0;
    max-height: none;
    resize: none;
    outline: none;
    opacity: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    height: $practiceTextHeight;
    padding: $wrapperPadding;
    overflow: hidden;
  }

  &__lessonContent {
    position: relative;
    margin: auto;
    font-size: $fontSize;
    // stylelint-disable property-disallowed-list
    line-height: $rowHeight;
    transition: 1s margin-top ease-in-out;
    flex: 0 1 auto;
  }
}
