@import '../../styles/variables';

.ResetInfoBox {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: $spacer;

  &__desc {
    margin-block-end: $spacer;
  }

  &__alert.ant-alert {
    margin-block-end: $spacer;
  }
}
