@import '../../styles/variables';

.flag {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 11px;
  max-height: 11px;
  background: url('../../images/flags.png') no-repeat;
  flex: 0 0 14px;
  background-position: 0 11px;

  &.hu {
    background-position: 0 0;
  }

  &.en {
    background-position: 0 -11px;
  }

  &.de {
    background-position: 0 -22px;
  }

  &.pl {
    background-position: 0 -33px;
  }

  &.fr {
    background-position: 0 -44px;
  }

  &.es {
    background-position: 0 -55px;
  }

  &.pt-br {
    background-position: 0 -66px;
  }

  &.hr {
    background-position: 0 -77px;
  }

  &.fa {
    background-position: 0 -88px;
  }
}

.languageSwitcher {
  &__button {
    color: $text-color-primary;
    background: $white;

    &:hover {
      color: $color-primary;
    }

    .flag {
      position: relative;
      margin-inline-start: $spacer * 2;
    }
  }

  &__list {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    column-count: 3;
  }

  &__item {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: flex-start;

    .flag {
      margin-inline-end: $spacer / 2;
    }
  }

  .fa-language {
    transform: scale(1.6);
  }

  &__currentLocale {
    margin: 0 $spacer * 2 0 $spacer;
  }
}
