@import '../../styles/variables';

// stylelint-disable no-descending-specificity

.key {
  cursor: default;
  transition: transform 0.05s $transition-timing-function;

  &__labels {
    // also called keytop, currently only contains one char, one label.
    user-select: none;
  }

  &__label {
    font-size: 36px;
    fill: $gray-6;
    transition: fill $animation-duration-base $transition-timing-function;

    &--toWrite {
      fill: $color-toWrite;
    }
  }

  &__bump {
    fill: $gray-3;
  }

  &__keyBg {
    fill: $color-key-background;
    stroke: $color-key-background;
    stroke-width: 5;
    transition: fill $animation-duration-base $transition-timing-function,
      stroke $animation-duration-base $transition-timing-function;
  }

  &__shadow {
    fill: $gray-5;
    stroke: $gray-5;
    stroke-width: 5;
    transform: translate(0, 1.5%);
  }

  // &--alphabet {}

  &--locked {
    .key__keyBg {
      fill: $color-locked;
    }

    .key__label {
      fill: $color-key-label;
    }
  }

  &--uncovered {
    opacity: 0.5;

    .key__keyBg {
      fill: $gray-4;
    }

    .key__label {
      fill: $color-key-label-inverted;
    }
  }

  &--dead {
    .key__keyBg {
      fill: $color-dead;
    }

    .key__label {
      fill: $color-key-label-inverted;
    }

    .key__bump {
      fill: $color-key-bump;
    }
  }

  &--learned {
    .key__keyBg {
      fill: $color-learned;
    }

    .key__label {
      fill: $color-key-label;
    }

    &__bump {
      fill: $gray-3;
    }
  }

  &--toLearn {
    .key__keyBg {
      fill: $color-toLearn;
    }

    .key__label {
      fill: $color-key-label;
    }

    &__bump {
      fill: $gray-3;
    }
  }

  // &--toDiscover,
  &--toLearn.key--uncovered,
  &--toPressFirst {
    opacity: 1;

    .key__keyBg {
      fill: $color-pressFirst;
    }

    .key__label {
      fill: $color-key-label;
    }

    .key__bump {
      fill: $color-key-bump;
    }
  }

  &--toPressSecond {
    .key__keyBg {
      fill: $color-pressSecond;
    }

    .key__label {
      fill: $color-key-label;
    }

    .key__bump {
      fill: $color-key-bump;
    }
  }

  &--missed {
    .key__keyBg {
      stroke: $color-mistake;
    }
  }

  &--error .key__keyBg {
    stroke: $color-error;
  }

  &--correct .key__keyBg {
    stroke: $color-correct;
  }

  // pressed state overwrites all others
  &--pressed {
    .key__keyBg {
      fill: $color-pressed;
      stroke: $color-pressed;
    }

    .key__label {
      fill: $color-key-label;
    }

    .key__bump {
      fill: $color-key-bump;
    }

    transform: translate(0, 1.5%);
  }
}
