@import '../../../styles/variables';

.footer {
  overflow: hidden;
  color: $text-color-inverse-primary;
  background: $gray-10;

  &__container {
    display: flex;
    padding: $spacer * 3 0;
    flex-direction: column;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__bottom {
    font-size: $font-size-small;
    color: $text-color-inverse-disabled;
    background: $gray-11;

    .footer__container {
      padding: $spacer * 2 0;
      flex-direction: row;
    }
  }

  &__version {
    margin-inline-start: auto;
  }
}

.footerNav {
  margin: $spacer 0 0;
  flex: 1 1 auto;

  &__title {
    font-size: $font-size-big;
  }

  &__item {
    padding: 2px 0;

    i {
      margin-inline-end: $spacer;
    }
  }
}
